* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

button {
  background-color: white;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
}
